<template>
    <div class="layout-item">
        <v-rating :value="value"></v-rating>
    </div>
</template>

<script>
    export default {
        name: 'LayoutRatingItem',
        props: [ 'item' ],
        data() {
            return {
                value: 3.5
            }
        },
        methods: {
        }
    }
</script>
