<template>
    <div class="text-item" @click="enterInConfiguratorMode($event)" :style="{ 'font-size': textSize + 'px' }">
        <template v-if="!configuratorMode">
            <span v-html="htmlText"></span>
        </template>
        <template v-else>
            <textarea v-model="text" ref="field" resize="false" :style="{ 'font-size': textSize + 'px' }">{{ item.text }}</textarea>
            <v-toolbar dense>
                <v-btn icon @click="decFontSizeHandler($event)">
                    <v-icon>fas fa-font fa-sm</v-icon>
                    <v-icon>fas fa-minus fa-sm</v-icon>
                </v-btn>
                <v-btn icon @click="incFontSizeHandler($event)">
                    <v-icon>fas fa-font fa-sm</v-icon>
                    <v-icon>fas fa-plus fa-sm</v-icon>
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn icon @click="removeHandler($event)">
                    <v-icon color="red">fas fa-times</v-icon>
                </v-btn>
                <v-btn icon @click="applyHandler($event)">
                    <v-icon>fas fa-check</v-icon>
                </v-btn>
            </v-toolbar>
        </template>
    </div>
</template>

<script>
    import LayoutItemMixin from './layout-item.mixin';

    export default {
        name: 'LayoutTextItem',
        mixins: [LayoutItemMixin],
        data() {
            return {
                configuratorMode: false,
                text: this.item.text || 'Default text',
                textSize: this.item.textSize || 16
            }
        },
        computed: {
            htmlText() {
                return this.text.replace(/\n/g, '<BR>');
            }
        },
        methods: {
            enterInConfiguratorMode(event) {
                if (this.configuratorMode || !this.configurator) {
                    return;
                }
                this.configuratorMode = true;
                this.$emit('start-edit');
                this.$forceUpdate();
                if (this.configuratorMode) {
                    setTimeout(() => {
                        this.$refs.field.focus();
                    }, 0);
                }
            },
            decFontSizeHandler(event) {
                event.stopPropagation();
                this.textSize = Math.max(0, this.textSize - 1);
            },
            incFontSizeHandler(event) {
                event.stopPropagation();
                this.textSize = Math.min(20, this.textSize + 1);
            },
            removeHandler(event) {
                event.stopPropagation();
                delete this.item.component;
                delete this.item.textSize;
                this.configuratorMode = false;
                this.$emit('end-edit');
                this.$forceUpdate();
            },
            applyHandler(event) {
                event.stopPropagation();
                this.item.text = this.text;
                this.item.textSize = this.textSize;
                this.configuratorMode = false;
                this.$emit('end-edit');
                this.$forceUpdate();
            }
        }
    }
</script>

<style lang="scss" scoped>
    .text-item {
        padding: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;

        textarea {
            resize: none;
            width: 100%;
            flex: 1 1 auto;
        }
    }
</style>