<template>
    <div class="layout-item">
        <v-btn color="success">Button</v-btn>
    </div>
</template>

<script>
    import LayoutItemMixin from './layout-item.mixin';

    export default {
        name: 'LayoutButtonItem',
        mixins: [LayoutItemMixin],
        data() {
            return {
            }
        },
        methods: {
        }
    }
</script>
