<template>
    <div class="layout-item">
        <v-sparkline
                :value="value"
                auto-draw
        ></v-sparkline>
    </div>
</template>

<script>
    export default {
        name: 'LayoutChartItem',
        props: [ 'item' ],
        data() {
            return {
                value: [0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0]
            }
        },
        methods: {
        }
    }
</script>
