<template>
    <v-list-tile :avatar="!preview" draggable="true" @click="" @dragstart="dragStartHandler($event)" :class="{ preview }">
        <template v-if="!preview">
            <v-list-tile-avatar>
                <v-icon>fas fa-chart-line</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
                <v-list-tile-title>Chart</v-list-tile-title>
            </v-list-tile-content>
        </template>
        <template v-else>
            <div class="preview-item">
                <LayoutChartItem/>
            </div>
        </template>
    </v-list-tile>
</template>

<script>
    import MenuItemMixin from './menu-item.mixin';
    import LayoutChartItem from '../../../../common/layout/items/layout-chart-item.component';

    export default {
        name: 'MenuChartItem',
        mixins: [MenuItemMixin],
        components: {LayoutChartItem},
        data() {
            return {
                component: LayoutChartItem
            }
        }
    }
</script>
