<template>
    <v-list-tile :avatar="!preview" draggable="true" @click="" @dragstart="dragStartHandler($event)" :class="{ preview }">
        <template v-if="!preview">
            <v-list-tile-avatar>
                <v-icon>fas fa-square</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
                <v-list-tile-title>Button</v-list-tile-title>
            </v-list-tile-content>
        </template>
        <template v-else>
            <div class="preview-item">
                <LayoutButtonItem/>
            </div>
        </template>
    </v-list-tile>
</template>

<script>
    import MenuItemMixin from './menu-item.mixin';
    import LayoutButtonItem from '../../../../common/layout/items/layout-button-item.component';

    export default {
        name: 'MenuButtonItem',
        mixins: [MenuItemMixin],
        components: {LayoutButtonItem},
        data() {
            return {
                component: LayoutButtonItem
            }
        }
    }
</script>
