<template>
    <v-list-tile :avatar="!preview" draggable="true" @click="" @dragstart="dragStartHandler($event)" :class="{ preview }">
        <template v-if="!preview">
            <v-list-tile-avatar>
                <v-icon>fas fa-font</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
                <v-list-tile-title>Text</v-list-tile-title>
            </v-list-tile-content>
        </template>
        <template v-else>
            <div class="preview-item">
                <LayoutTextItem/>
            </div>
        </template>
    </v-list-tile>
</template>

<script>
    import MenuItemMixin from './menu-item.mixin';
    import LayoutTextItem from '../../../../common/layout/items/layout-text-item.component';
    export default {
        name: "MenuTextItem",
        mixins: [MenuItemMixin],
        components: { LayoutTextItem },
        data() {
            return {
                component: LayoutTextItem
            }
        }
    }
</script>

<style scoped>

</style>