<template>
    <div class="image-item" draggable="true" @dragstart="dragStartHandler($event)">
        <div :style="styles"></div>
    </div>
</template>

<script>
    import ComponentMixin from '../../../../common/component-mixin';
    import TransparentImage from '../../../../assets/backgrounds/transparent.png';

    export default {
        name: "MenuBackgroundItem",
        mixins: [ComponentMixin],
        props: ['image'],
        data() {
            return {
                data: this.image ? this.image : TransparentImage
            }
        },
        computed: {
            styles() {
                return {
                    'background-image': `url(${this.data})`
                }
            }
        },
        methods: {
            dragStartHandler(event) {
                event.dataTransfer.setData('type', 'background');
                event.dataTransfer.setData('data', this.image);
            }
       }
    }
</script>

<style lang="scss" scoped>
    .image-item {
        width: 100%;
        height: 200px;
        padding: 5px 10px;
        > div {
            background-size: cover;
            width: 100%;
            height: 100%;
        }
    }
</style>