<template>
    <v-list-tile :avatar="!preview" draggable="true" @click="" @dragstart="dragStartHandler($event)" :class="{ preview }">
        <template v-if="!preview">
            <v-list-tile-avatar>
                <v-icon>fas fa-star-half-alt</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
                <v-list-tile-title>Rating</v-list-tile-title>
            </v-list-tile-content>
        </template>
        <template v-else>
            <div class="preview-item">
                <LayoutRatingItem/>
            </div>
        </template>
    </v-list-tile>
</template>

<script>
    import MenuItemMixin from './menu-item.mixin';
    import LayoutRatingItem from '../../../../common/layout/items/layout-rating-item.component';

    export default {
        name: 'MenuRaringItem',
        mixins: [MenuItemMixin],
        components: {LayoutRatingItem},
        data() {
            return {
                component: LayoutRatingItem
            }
        }
    }
</script>
