<template>
    <v-container fluid grid-list-lg>
        <v-item-group>
            <v-container grid-list-md>
                <v-layout wrap>
                    <v-flex v-for="item in pages" :key="item.id" xs12 md4>
                        <v-item>
                            <LayoutsGroupItem slot-scope="{}" :item="item"/>
                        </v-item>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-item-group>
    </v-container>
</template>

<script>
    import ComponentMixin from '../../../common/component-mixin';
    import LayoutsGroupItem from './layouts-group-item.component';

    export default {
        name: "LayoutsGroup",
        mixins: [ComponentMixin],
        components: {LayoutsGroupItem},
        computed: {
            pages() {
                return this.$store.state.data.items;
            }
        }
    }
</script>