<template>
    <v-card height="200" class="page-item">
        <template v-if="isEmpty">
            <v-flex d-flex justify-center align-center class="display-2">
                EMPTY
            </v-flex>
        </template>
        <template v-else>
            <resize-sensor @resize="updatePreview" :initial="false" />
            <div class="preview-wrapper" ref="previewWrapper">
                <div class="preview" ref="preview" :style="previewStyles">
                    <grid-layout
                            v-if="item.layout"
                            :layout.sync="item.layout"
                            :col-num="12"
                            :row-height="30"
                            :is-draggable="false"
                            :is-resizable="false"
                            :is-mirrored="false"
                            :vertical-compact="false"
                            :margin="[1, 1]"
                            :use-css-transforms="true">
                        <grid-item v-for="(i, index) in item.layout"
                                   :key="i.i" :x="i.x" :y="i.y" :w="i.w" :h="i.h" :i="i.i"
                                   drag-allow-from=".fa-arrows-alt"
                                   drag-ignore-from=".content"
                        >
                            <LayoutItem :item="i" />
                        </grid-item>
                    </grid-layout>
                </div>
            </div>
        </template>
        <v-card-actions>
            <v-btn icon :to="`/configurator/${item.id}`">
                <v-icon color="blue darken-4">fas fa-pencil-ruler</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn icon @click="$store.commit('removeItem', item.id)">
                <v-icon color="red">fas fa-times</v-icon>
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import ComponentMixin from '../../../common/component-mixin';
    import LayoutItem from '../../../common/layout/layout-item.component';

    export default {
        name: "LayoutsGroupItem",
        mixins: [ComponentMixin],
        components: {
            LayoutItem
        },
        props: [
            'item'
        ],
        data() {
            return {
                previewStyles: {
                    visibility: 'hidden'
                }
            };
        },
        computed: {
            isEmpty() {
                return !this.item.layout;
            }
        },
        methods: {
            updatePreview() {
                if (!this.$refs.previewWrapper || !this.$refs.preview) {
                    return
                }
                const targetWidth = this.$refs.previewWrapper.offsetWidth;
                const targetHeight = this.$refs.previewWrapper.offsetHeight;
                const previewWidth = this.$refs.preview.offsetWidth;
                const previewHeight = this.$refs.preview.offsetHeight;
                const scale = Math.min((targetWidth - 30) / previewWidth, (targetHeight - 30) / previewHeight).toFixed(2);
                const newWidth = previewWidth * scale;
                const newHeight = previewHeight * scale;
                this.previewStyles = {
                    transform: `scale(${scale})`,
                    visibility: 'visible',
                    top: ((targetHeight - newHeight) / 2).toFixed(0) + 'px',
                    left: ((targetWidth - newWidth) / 2).toFixed(0) + 'px'
                };
            }
        },
        mounted() {
            setTimeout(() => {
                this.updatePreview();
            }, 0);
        }
    }
</script>

<style lang="scss" scoped>
    .page-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content {
        text-align: center;
    }

    .preview-wrapper {
        display: flex;
        overflow: hidden;
        height: 100%;

        .preview {
            position: absolute;
            width: 1024px;
            transform-origin: top left;
            pointer-events: none;
        }
    }
</style>