<template>
    <div @click="outsideLayoutItemsClickHandler($event)" class="wrapper">
        <v-toolbar>
            <v-toolbar-items>
                <v-btn flat @click="addLayoutItemHandler()">
                    <v-icon left>fas fa-plus</v-icon>
                    Add layout section
                </v-btn>
            </v-toolbar-items>
        </v-toolbar>
        <v-card>
            <grid-layout
                    v-if="layout"
                    :layout.sync="layout"
                    :col-num="12"
                    :row-height="30"
                    :is-draggable="true"
                    :is-resizable="true"
                    :is-mirrored="false"
                    :vertical-compact="true"
                    :margin="[10, 10]"
                    :use-css-transforms="true"
                    @layout-updated="layoutUpdateHandler()">
                <grid-item v-for="(item, index) in layout"
                           :key="item.i" :x="item.x" :y="item.y" :w="item.w" :h="item.h" :i="item.i"
                           drag-allow-from=".fa-arrows-alt"
                           drag-ignore-from=".content"
                >
                    <LayoutItem :configurator="true" :item="item"
                                      :active="activeLayoutItem === item.i"
                                      @click="layoutItemClickHandler(item)"
                                      @updated="layoutUpdateHandler(index)"
                                      @remove="layoutItemRemoveHandler(item)"/>
                </grid-item>
            </grid-layout>
        </v-card>
    </div>
</template>

<script>
    import ComponentMixin from '../../common/component-mixin';
    import VueGridLayout from 'vue-grid-layout';
    import ConfiguratorMenu from './components/configurator-menu.component';
    import LayoutItem from '../../common/layout/layout-item.component';

    export default {
        name: 'Configurator',
        mixins: [ComponentMixin],
        components: {
            LayoutItem,
            GridLayout: VueGridLayout.GridLayout
        },
        data() {
            return {
                item: null,
                layout: null,
                activeLayoutItem: null
            }
        },
        methods: {
            addLayoutItemHandler() {
                let nextIndex = this.layout.reduce((index, item) => Math.max(index, item.i), 0);
                this.layout.push({'x': 0, 'y': 0, 'w': 2, 'h': 2, 'i': ++nextIndex});
                this.$store.dispatch('storeData');
            },
            layoutUpdateHandler(index) {
                this.layout[index] = {...this.layout[index]};
                this.$store.dispatch('storeData');
                this.$forceUpdate();
            },
            layoutItemClickHandler(item) {
                this.activeLayoutItem = item.i;
            },
            layoutItemRemoveHandler(item) {
                this.item.layout = this.layout = this.layout.filter((i) => i.i !== item.i);
                this.$store.dispatch('storeData');
            },
            outsideLayoutItemsClickHandler(event) {
                if (!event.path.find(pathItem => pathItem.className && -1 !== pathItem.className.indexOf('item'))) {
                    this.activeLayoutItem = null;
                }
            }
        },
        created() {
            this.item = this.$store.getters.getItem(this.$route.params.id);
            this.item.layout = this.item.layout || [];
            this.layout = this.item.layout;
            this.store.commit('setCurrentPage', {
                title: 'Configurator',
                menu: ConfiguratorMenu
            });
        }
    }
</script>

<style lang="scss" scoped>
    .wrapper {
        height: 100%;
    }
</style>