<template>
    <div class="item"
         :class="{ active, configurator }"
         :style="styles"
         @dragover="itemDragOverHandler($event)"
         @drop="itemDropHandler($event)"
         @click="$emit('click', $event)">
        <div class="content" v-if="component">
            <component :is="component"/>
        </div>

        <div class="actions">
            <v-btn icon @click="" fab small color="grey lighten-2">
                <v-icon>fas fa-arrows-alt</v-icon>
            </v-btn>
            <v-btn icon @click="removeItemHandler()" fab small color="grey lighten-2">
                <v-icon>fas fa-times</v-icon>
            </v-btn>
        </div>
    </div>
</template>

<script>
    import VueGridLayout from 'vue-grid-layout';
    import LayoutTextItem from './items/layout-text-item.component';
    import LayoutRatingItem from './items/layout-rating-item.component';
    import LayoutChartItem from './items/layout-chart-item.component';
    import LayoutButtonItem from './items/layout-button-item.component';
    import Vue from 'vue';

    const layoutComponents = {
        LayoutTextItem,
        LayoutRatingItem,
        LayoutChartItem,
        LayoutButtonItem,
    };
    export default {
        name: 'LayoutItem',
        props: ['item', 'active', 'configurator'],
        components: {
            ...layoutComponents,
            GridItem: VueGridLayout.GridItem
        },
        data() {
            return {
                configuratorMode: false
            }
        },
        computed: {
            styles() {
                return {
                    'background-image': this.item.background ? `url(${this.item.background})` : null
                }
            },
            component() {
                if (!this.item.component) {
                    return null;
                }
                const bindings = {
                    item: this.item,
                    configurator: this.configurator,
                    startEdit: this.startEditHandler,
                    endEdit: this.endEditHandler
                };
                if (Object.keys(layoutComponents).includes(this.item.component)) {
                    Vue.component(this.item.component, layoutComponents[this.item.component]);
                    return Object.assign({}, Vue.compile(`
                        <${this.item.component}
                            :configurator="configurator"
                            :item="item"
                            @start-edit="startEdit($event)"
                            @end-edit="endEdit($event)"/>`), {
                        data() {
                            return bindings;
                        }
                    });
                }
            }
        },
        methods: {
            itemDragOverHandler(event) {
                event.preventDefault();
            },
            itemDropHandler(event) {

                switch (event.dataTransfer.getData('type')) {
                    case 'component': {
                        this.item.component = event.dataTransfer.getData('component');
                        break;
                    }
                    case 'background': {
                        this.item.background = event.dataTransfer.getData('data');
                        break;
                    }
                }
                this.$emit('updated');
            },
            removeItemHandler() {
                this.$emit('remove');
            },
            startEditHandler() {
                this.configuratorMode = true;
            },
            endEditHandler() {
                this.configuratorMode = false;
                this.$emit('updated');
            }
        }
    }
</script>

<style lang="scss" scoped>
    .item {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        &.configurator {
            border: 1px dashed #ffcc80;
        }

        .content {
            height: 100%;
        }

        .actions {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
        }

        &.active {
            border: 1px solid #ffcc80;

            .actions {
                display: block;
            }
        }

        /deep/ .layout-item {
            padding: 10px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
</style>