<template>
    <div class="menu-wrapper">
        <v-list>
            <v-list-group prepend-icon="far fa-image">
                <v-list-tile slot="activator">
                    <v-list-tile-title>Background</v-list-tile-title>
                </v-list-tile>
                <template v-for="background of backgrounds">
                    <MenuBackgroundItem :image="background"/>
                </template>
            </v-list-group>
            <v-list-group prepend-icon="fas fa-box-open">
                <v-list-tile slot="activator">
                    <v-list-tile-title>Components</v-list-tile-title>
                </v-list-tile>
                <MenuTextItem :preview="previewMode" />
                <MenuButtonItem :preview="previewMode" />
                <MenuChartItem :preview="previewMode" />
                <MenuRaringItem :preview="previewMode" />
            </v-list-group>
        </v-list>
        <v-switch
                label="Preview components"
                v-model="previewMode"
        ></v-switch>
    </div>
</template>

<script>
    import BackgroundImage_1 from '../../../assets/backgrounds/bg1.jpeg';
    import BackgroundImage_2 from '../../../assets/backgrounds/bg2.jpeg';
    import BackgroundImage_3 from '../../../assets/backgrounds/bg3.jpg';
    import MenuBackgroundItem from './menu/menu-background-item.component';
    import MenuTextItem from './menu/menu-text-item.component';
    import MenuButtonItem from './menu/menu-button-item.component';
    import MenuChartItem from './menu/menu-chart-item.component';
    import MenuRaringItem from './menu/menu-rating-item.component';

    export default {
        name: 'ConfiguratorMenu',
        components: {MenuRaringItem, MenuChartItem, MenuTextItem, MenuButtonItem, MenuBackgroundItem},
        data() {
            return {
                backgrounds: [null, BackgroundImage_1, BackgroundImage_2, BackgroundImage_3],
                previewMode: false
            }
        }
    }
</script>

<style lang="scss" scoped>
    .menu-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > div.v-input {
            flex: none;
            justify-content: center;
        }
        /deep/ .layout-item {
            padding: 10px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        /deep/ .preview {
            > a {
                height: auto;
                padding: 10px;
            }
            .preview-item {
                border: 1px dashed #AAA;
                pointer-events: none;
                width: 100%;
            }
        }
    }
</style>