<template>
  <v-app id="app">
    <v-navigation-drawer v-model="drawerIsShown" fixed app clipped v-if="menu">
      <component :is="menu"/>
    </v-navigation-drawer>
    <v-toolbar :color="theme.panelsColor" dark fixed app clipped-left class="toolbar">
      <v-btn icon to="/" v-if="$route.name !=='layouts'"><v-icon>fas fa-chevron-circle-left</v-icon></v-btn>
      <v-toolbar-side-icon @click.stop="drawerIsShown = !drawerIsShown" v-if="menu"></v-toolbar-side-icon>
      <v-toolbar-title>{{ title }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <img class="logo" src="@/assets/logo.png"/>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height class="container">
        <router-view/>
      </v-container>
    </v-content>
    <v-footer :color="theme.panelsColor" app class="footer">
      <span class="white--text">&copy; 2019 Elbit Systems</span>
    </v-footer>
  </v-app>
</template>

<script>

import theme from './common/style/theme';

export default {
  name: 'App',

  props: {
    source: String
  },

  data: () => ({
    theme: theme,
    drawerIsShown: true
  }),

  computed: {
    title () {
      return this.$store.state.app.title;
    },
    menu() {
      return this.$store.state.app.menu;
    }
  }
}
</script>

<style lang="scss" scoped>
  #app {
    .container > * {
      flex: 1 1 auto;
      align-self: baseline;
    }

    .toolbar > div {
      > div:first-child {
        width: 300px
      }

      > div:last-child {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
      }
    }
    .footer {
      justify-content: center;
    }
  }
</style>