<template>
    <div>
        <v-toolbar>
            <v-toolbar-items>
                <v-btn flat @click="$store.commit('addItem')">
                    <v-icon left>fas fa-plus</v-icon>
                    Add new layout
                </v-btn>
            </v-toolbar-items>
        </v-toolbar>
        <v-card>
            <LayoutsGroup />
        </v-card>
    </div>
</template>

<script>
    import LayoutsGroup from './components/layouts-group.component';
    import ComponentMixin from '../../common/component-mixin';

    export default {
        name: 'Layouts',
        mixins: [ComponentMixin],
        components: {
            LayoutsGroup
        },
        created() {
            this.store.commit('setCurrentPage', {
                title: 'Layouts'
            });
        }
    }
</script>
